@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
body {
    background-color: black;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: white;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 32px;
}

.photo1 {
    display: grid;
    max-width: 100%;
    align-items: center;
    justify-items: center;
}

table {
    width: 40%;
}

.footer {
    display: grid;
    background-color: black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px 25px 0px 0px;
    border-style: solid;
    align-items: center;
    justify-items: center;
}